node-red_flows.json
[{"id":"adc9d91a7c732d2e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5cd973548d7e459c","type":"ui_chart","z":"adc9d91a7c732d2e","name":"","group":"65123476f110f7c7","order":4,"width":0,"height":0,"label":"Temperature [last 72 h]","chartType":"line","legend":"false","xformat":"-x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"720","removeOlderPoints":"72","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1160,"y":440,"wires":[[]]},{"id":"2266d6e884ad38f4","type":"ui_numeric","z":"adc9d91a7c732d2e","name":"","label":"Set new T. min","tooltip":"","group":"65123476f110f7c7","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-40","max":"70","step":1,"className":"","x":920,"y":560,"wires":[["be961e654716cd98"]]},{"id":"8c5a18d8ee36a700","type":"ui_numeric","z":"adc9d91a7c732d2e","name":"","label":"Set newT. max","tooltip":"","group":"65123476f110f7c7","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-40","max":"70","step":1,"className":"","x":920,"y":760,"wires":[["eec4ae50d0715771"]]},{"id":"eec4ae50d0715771","type":"function","z":"adc9d91a7c732d2e","name":"Check diff","func":"var n1 = flow.get('numericValue1') || 0;  // Użyj 0 jako domyślnej wartości\nvar n2 = flow.get('numericValue2') || 0;  // Użyj 0 jako domyślnej wartości\n\n \n\nif (msg.payload > n1 + 9) {  \n    msg.error = \"\";\n    flow.set('numericValue2', msg.payload); \n} else {\n    msg.condition = false;\n    msg.error = \"Tmin must be at least 10 degrees lower than Tmax\";\n}\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":760,"wires":[["1ba8ca91b88b80aa","ac33923131080921"]]},{"id":"be961e654716cd98","type":"function","z":"adc9d91a7c732d2e","name":"Check diff","func":"var n1 = flow.get('numericValue1') || 0;  // Użyj 0 jako domyślnej wartości\nvar n2 = flow.get('numericValue2') || 0;  // Użyj 0 jako domyślnej wartości\n\n  // Ustaw wartość dla `numericValue1`\n\nif (msg.payload < n2 - 9) {  // Sprawdź, czy `msg.payload` jest co najmniej o 10 stopni mniejsze od `n2`\n    msg.error = \"\";\n    flow.set('numericValue1', msg.payload);\n} else {\n    msg.error = \"Tmin must be at least 10 degrees lower than Tmax\";\n    msg.condition = false;\n}\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":560,"wires":[["1ba8ca91b88b80aa","ac33923131080921"]]},{"id":"1ba8ca91b88b80aa","type":"ui_button","z":"adc9d91a7c732d2e","name":"","group":"65123476f110f7c7","order":8,"width":0,"height":0,"passthru":false,"label":"Save changes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1320,"y":660,"wires":[["fd2b6561205c2826","9f2fbbdb2e8f9939","eb251697404f012a"]]},{"id":"fd2b6561205c2826","type":"function","z":"adc9d91a7c732d2e","name":"Set values","func":"msg.payload = {\n    value1: flow.get('numericValue1'),\n    value2: flow.get('numericValue2')\n};\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":660,"wires":[["84cf81b8300e2869","8dcdbc4e333afc66","cd3421e4ee64c810"]]},{"id":"ea35de3ea93ccb7c","type":"function","z":"adc9d91a7c732d2e","name":"Update values","func":"flow.set('numericValue2', msg.payload);\nmsg.payload = {\n    value2: flow.get('numericValue2')\n};\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":820,"wires":[["84cf81b8300e2869"]]},{"id":"ed881a586dd1352a","type":"function","z":"adc9d91a7c732d2e","name":"Update values","func":"flow.set('numericValue1', msg.payload);\nmsg.payload = {\n    value1: flow.get('numericValue1')\n};\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":620,"wires":[["8dcdbc4e333afc66"]]},{"id":"84cf81b8300e2869","type":"ui_text","z":"adc9d91a7c732d2e","group":"65123476f110f7c7","order":2,"width":0,"height":0,"name":"","label":"Current T. max","format":"{{msg.payload.value2}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1800,"y":800,"wires":[]},{"id":"8dcdbc4e333afc66","type":"ui_text","z":"adc9d91a7c732d2e","group":"65123476f110f7c7","order":3,"width":0,"height":0,"name":"","label":"Current T. min","format":"{{msg.payload.value1}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1800,"y":600,"wires":[]},{"id":"cd3421e4ee64c810","type":"function","z":"adc9d91a7c732d2e","name":"Set ranges","func":"msg = {\n    ui_control:{\n        min: msg.payload.value1,\n        max: msg.payload.value2\n  }\n    \n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":280,"wires":[["2be48e9b5eecd27a"]]},{"id":"2be48e9b5eecd27a","type":"ui_gauge","z":"adc9d91a7c732d2e","name":"","group":"65123476f110f7c7","order":1,"width":0,"height":0,"gtype":"gage","title":"Current temperature [°C]","label":"[°C]","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1210,"y":280,"wires":[]},{"id":"ac33923131080921","type":"ui_text","z":"adc9d91a7c732d2e","group":"65123476f110f7c7","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.error}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"22","color":"#ff0000","x":1050,"y":680,"wires":[]},{"id":"84a710090415e876","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/temperature","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":420,"wires":[["2be48e9b5eecd27a"]]},{"id":"c5e183dc0113bf6e","type":"inject","z":"adc9d91a7c732d2e","name":"Update temp every 5 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":510,"y":100,"wires":[["eb3484790b13be6d"]]},{"id":"eb3484790b13be6d","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/temperature","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":890,"y":100,"wires":[]},{"id":"6573731f2feb956d","type":"inject","z":"adc9d91a7c732d2e","name":"Update temp chart every hour","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":520,"y":180,"wires":[["bce11a697dd66289"]]},{"id":"bce11a697dd66289","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/temperaturesLast72","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":940,"y":180,"wires":[]},{"id":"0722708a6337933f","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/temperaturesLast72","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":500,"wires":[["0ff119eb5925abf0"]]},{"id":"0ff119eb5925abf0","type":"function","z":"adc9d91a7c732d2e","name":"Data for chart","func":"// Wejściowy payload JSON\nvar input = msg.payload.data;\n\n// Tablica, która będzie zawierać dane w formacie akceptowanym przez węzeł chart\nvar chartData = [];\n\n// Przetwarzanie danych wejściowych\nfor (var i = 0; i < input.length; i++) {\n    var point = {\n        x: i, // Zakładamy, że input[i].time jest w formacie UNIX timestamp\n        y: input[i].temperature\n    };\n    chartData.push(point);\n}\n\n// Przypisanie przetworzonych danych do msg.payload\nmsg.payload = [{\n    \"series\": [\"Temperature\"],\n    \"data\": [chartData] // Użycie wartości x (czasu) jako etykiet\n}];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":500,"wires":[["5cd973548d7e459c"]]},{"id":"7812f6ea9eb264f9","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/temperatureLB","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":600,"wires":[["2266d6e884ad38f4","ed881a586dd1352a"]]},{"id":"0a9884defdac05b6","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/temperatureUB","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":780,"wires":[["8c5a18d8ee36a700","ea35de3ea93ccb7c"]]},{"id":"494c621065223e7c","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1970,"y":400,"wires":[]},{"id":"9f2fbbdb2e8f9939","type":"function","z":"adc9d91a7c732d2e","name":"Set new TLB","func":"var message = {\n    topic: \"WEATHERSTATION/167795/set/temperatureLB\", // Temat dla pierwszego MQTT Out\n    payload: flow.get('numericValue1'),\n};\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":400,"wires":[["494c621065223e7c"]]},{"id":"eb251697404f012a","type":"function","z":"adc9d91a7c732d2e","name":"Set new TUB","func":"var message = {\n    topic: \"WEATHERSTATION/167795/set/temperatureUB\", // Temat dla pierwszego MQTT Out\n    payload: flow.get('numericValue2'),\n};\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":480,"wires":[["640a57f4ca0da157"]]},{"id":"640a57f4ca0da157","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1970,"y":480,"wires":[]},{"id":"b7417fac203ad1dc","type":"inject","z":"adc9d91a7c732d2e","name":"Update TLB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":1310,"y":100,"wires":[["07d90d6d2297abf0"]]},{"id":"07d90d6d2297abf0","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/temperatureLB","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1750,"y":100,"wires":[]},{"id":"c0059ebc64634b19","type":"inject","z":"adc9d91a7c732d2e","name":"Update TUB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":1310,"y":180,"wires":[["f7de6ec02040d688"]]},{"id":"f7de6ec02040d688","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/temperatureUB","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1770,"y":180,"wires":[]},{"id":"622b5c9132856335","type":"ui_chart","z":"adc9d91a7c732d2e","name":"","group":"f1eb08f1e27448ff","order":4,"width":0,"height":0,"label":"Humidity [last 72 h]","chartType":"line","legend":"false","xformat":"-x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"720","removeOlderPoints":"72","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1180,"y":1360,"wires":[[]]},{"id":"6ee1b55239f64567","type":"ui_numeric","z":"adc9d91a7c732d2e","name":"","label":"Set new H. min","tooltip":"","group":"f1eb08f1e27448ff","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0","max":"100","step":1,"className":"","x":950,"y":1480,"wires":[["69424ef05eb40a61"]]},{"id":"b90d8e51a84a39eb","type":"ui_numeric","z":"adc9d91a7c732d2e","name":"","label":"Set new H. max","tooltip":"","group":"f1eb08f1e27448ff","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0","max":"100","step":1,"className":"","x":950,"y":1680,"wires":[["54b49dfd217175b4"]]},{"id":"54b49dfd217175b4","type":"function","z":"adc9d91a7c732d2e","name":"Check diff","func":"var n1 = flow.get('numericValue1') || 0;  // Użyj 0 jako domyślnej wartości\nvar n2 = flow.get('numericValue2') || 0;  // Użyj 0 jako domyślnej wartości\n\n \n\nif (msg.payload > n1 + 9) {  \n    msg.error = \"\";\n    flow.set('numericValue2', msg.payload); \n} else {\n    msg.condition = false;\n    msg.error = \"Hmin must be at least 10 % lower than Tmax\";\n}\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1680,"wires":[["51f604fe22ea1c6b","0fb3dbe05b7bc77d"]]},{"id":"69424ef05eb40a61","type":"function","z":"adc9d91a7c732d2e","name":"Check diff","func":"var n1 = flow.get('numericValue1') || 0;  // Użyj 0 jako domyślnej wartości\nvar n2 = flow.get('numericValue2') || 0;  // Użyj 0 jako domyślnej wartości\n\n  // Ustaw wartość dla `numericValue1`\n\nif (msg.payload < n2 - 9) {  // Sprawdź, czy `msg.payload` jest co najmniej o 10 stopni mniejsze od `n2`\n    msg.error = \"\";\n    flow.set('numericValue1', msg.payload);\n} else {\n    msg.error = \"Hmin must be at least 10 % lower than Tmax\";\n    msg.condition = false;\n}\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1480,"wires":[["51f604fe22ea1c6b","0fb3dbe05b7bc77d"]]},{"id":"51f604fe22ea1c6b","type":"ui_button","z":"adc9d91a7c732d2e","name":"","group":"f1eb08f1e27448ff","order":8,"width":0,"height":0,"passthru":false,"label":"Save changes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1350,"y":1580,"wires":[["b1b0abdf5b091b5d","765904f2bd19d6a3","6417de6ee9f3c49f"]]},{"id":"b1b0abdf5b091b5d","type":"function","z":"adc9d91a7c732d2e","name":"Set values","func":"msg.payload = {\n    value1: flow.get('numericValue1'),\n    value2: flow.get('numericValue2')\n};\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1580,"wires":[["58855e9f24eebbe8","633bb1e599ad35e5","db5e9510fe10218f"]]},{"id":"65c2d172bbfd8f03","type":"function","z":"adc9d91a7c732d2e","name":"Update values","func":"flow.set('numericValue2', msg.payload);\nmsg.payload = {\n    value2: flow.get('numericValue2')\n};\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1740,"wires":[["58855e9f24eebbe8"]]},{"id":"474ab36052b295fb","type":"function","z":"adc9d91a7c732d2e","name":"Update values","func":"flow.set('numericValue1', msg.payload);\nmsg.payload = {\n    value1: flow.get('numericValue1')\n};\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1540,"wires":[["633bb1e599ad35e5"]]},{"id":"58855e9f24eebbe8","type":"ui_text","z":"adc9d91a7c732d2e","group":"f1eb08f1e27448ff","order":2,"width":0,"height":0,"name":"","label":"Current H. max","format":"{{msg.payload.value2}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1820,"y":1720,"wires":[]},{"id":"633bb1e599ad35e5","type":"ui_text","z":"adc9d91a7c732d2e","group":"f1eb08f1e27448ff","order":3,"width":0,"height":0,"name":"","label":"Current H. min","format":"{{msg.payload.value1}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1830,"y":1520,"wires":[]},{"id":"db5e9510fe10218f","type":"function","z":"adc9d91a7c732d2e","name":"Set ranges","func":"msg = {\n    ui_control:{\n        min: msg.payload.value1,\n        max: msg.payload.value2\n  }\n    \n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1200,"wires":[["ba67a7adb39b748f"]]},{"id":"ba67a7adb39b748f","type":"ui_gauge","z":"adc9d91a7c732d2e","name":"","group":"f1eb08f1e27448ff","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Humidity [%]","label":"[%]","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1230,"y":1200,"wires":[]},{"id":"0fb3dbe05b7bc77d","type":"ui_text","z":"adc9d91a7c732d2e","group":"f1eb08f1e27448ff","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.error}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"22","color":"#ff0000","x":1080,"y":1600,"wires":[]},{"id":"882844211c9c4dcb","type":"inject","z":"adc9d91a7c732d2e","name":"Update hum every 5 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":540,"y":1020,"wires":[["1ff88778d684e68b"]]},{"id":"1ff88778d684e68b","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/humidity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":910,"y":1020,"wires":[]},{"id":"33935206ed18ff74","type":"inject","z":"adc9d91a7c732d2e","name":"Update hum chart every hour","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":550,"y":1100,"wires":[["ddb192771fde10dc"]]},{"id":"ddb192771fde10dc","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/humiditiesLast72","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":970,"y":1100,"wires":[]},{"id":"787d49943cd93a92","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/humiditiesLast72","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":1420,"wires":[["0fd74889febf6ee1"]]},{"id":"0fd74889febf6ee1","type":"function","z":"adc9d91a7c732d2e","name":"Data for chart","func":"var input = msg.payload.data;\n\nvar chartData = [];\n\nfor (var i = 0; i < input.length; i++) {\n    var point = {\n        x: i, \n        y: input[i].humidity\n    };\n    chartData.push(point);\n}\n\nmsg.payload = [{\n    \"series\": [\"Humidity\"],\n    \"data\": [chartData]\n}];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1420,"wires":[["622b5c9132856335"]]},{"id":"e14704bca832d6cf","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/humidityLB","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":1520,"wires":[["6ee1b55239f64567","474ab36052b295fb"]]},{"id":"b9d6e9883a6332c8","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/humidityUB","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":1700,"wires":[["b90d8e51a84a39eb","65c2d172bbfd8f03"]]},{"id":"1a2b8c88315c3355","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":2000,"y":1320,"wires":[]},{"id":"765904f2bd19d6a3","type":"function","z":"adc9d91a7c732d2e","name":"Set new HLB","func":"var message = {\n    topic: \"WEATHERSTATION/167795/set/humidityLB\", // Temat dla pierwszego MQTT Out\n    payload: flow.get('numericValue1'),\n};\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1320,"wires":[["1a2b8c88315c3355"]]},{"id":"6417de6ee9f3c49f","type":"function","z":"adc9d91a7c732d2e","name":"Set new HUB","func":"var message = {\n    topic: \"WEATHERSTATION/167795/set/humidityUB\", // Temat dla pierwszego MQTT Out\n    payload: flow.get('numericValue2'),\n};\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1400,"wires":[["57dd4ff287631702"]]},{"id":"57dd4ff287631702","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":2000,"y":1400,"wires":[]},{"id":"d25ac8d5d9dc643f","type":"inject","z":"adc9d91a7c732d2e","name":"Update HLB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":1340,"y":1020,"wires":[["c7743c912d6f37cc"]]},{"id":"c7743c912d6f37cc","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/humidityLB","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1760,"y":1020,"wires":[]},{"id":"5860cdb618888a32","type":"inject","z":"adc9d91a7c732d2e","name":"Update HUB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":1350,"y":1100,"wires":[["70d0829125033c0c"]]},{"id":"70d0829125033c0c","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/humidityUB","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1790,"y":1100,"wires":[]},{"id":"12f8e78a0ec6abb4","type":"ui_chart","z":"adc9d91a7c732d2e","name":"","group":"6f0e0a85cbdebd3a","order":4,"width":0,"height":0,"label":"Pressure [last 72 h]","chartType":"line","legend":"false","xformat":"-x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"720","removeOlderPoints":"72","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1140,"y":2320,"wires":[[]]},{"id":"9401201ebe80ed82","type":"ui_numeric","z":"adc9d91a7c732d2e","name":"","label":"Set new P. min","tooltip":"","group":"6f0e0a85cbdebd3a","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"800","max":"1300","step":1,"className":"","x":910,"y":2440,"wires":[["aa8a71c79f9bdc0f"]]},{"id":"c4e15ea7321d1a35","type":"ui_numeric","z":"adc9d91a7c732d2e","name":"","label":"Set new P. max","tooltip":"","group":"6f0e0a85cbdebd3a","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"800","max":"1300","step":1,"className":"","x":910,"y":2640,"wires":[["fd527b152a239a51"]]},{"id":"fd527b152a239a51","type":"function","z":"adc9d91a7c732d2e","name":"Check diff","func":"var n1 = flow.get('numericValue1') || 0;  // Użyj 0 jako domyślnej wartości\nvar n2 = flow.get('numericValue2') || 0;  // Użyj 0 jako domyślnej wartości\n\n \n\nif (msg.payload > n1 + 19) {  \n    msg.error = \"\";\n    flow.set('numericValue2', msg.payload); \n} else {\n    msg.condition = false;\n    msg.error = \"Pmin must be at least 20 hPa lower than Tmax\";\n}\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":2640,"wires":[["a350732345194842","c298e9be9833cf9a"]]},{"id":"aa8a71c79f9bdc0f","type":"function","z":"adc9d91a7c732d2e","name":"Check diff","func":"var n1 = flow.get('numericValue1') || 0;  // Użyj 0 jako domyślnej wartości\nvar n2 = flow.get('numericValue2') || 0;  // Użyj 0 jako domyślnej wartości\n\n  // Ustaw wartość dla `numericValue1`\n\nif (msg.payload < n2 - 19) {  // Sprawdź, czy `msg.payload` jest co najmniej o 10 stopni mniejsze od `n2`\n    msg.error = \"\";\n    flow.set('numericValue1', msg.payload);\n} else {\n    msg.error = \"Pmin must be at least 20 hPa lower than Tmax\";\n    msg.condition = false;\n}\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":2440,"wires":[["a350732345194842","c298e9be9833cf9a"]]},{"id":"a350732345194842","type":"ui_button","z":"adc9d91a7c732d2e","name":"","group":"6f0e0a85cbdebd3a","order":8,"width":0,"height":0,"passthru":false,"label":"Save changes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1310,"y":2540,"wires":[["46fad417cfdede92","1449fde435e9df4a","9f9a41ac58993d83"]]},{"id":"46fad417cfdede92","type":"function","z":"adc9d91a7c732d2e","name":"Set values","func":"msg.payload = {\n    value1: flow.get('numericValue1'),\n    value2: flow.get('numericValue2')\n};\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":2540,"wires":[["07209e4ad19f366c","17c0a422c2f3ae60","ea575f3638db2bf4"]]},{"id":"824813e2ef3a393f","type":"function","z":"adc9d91a7c732d2e","name":"Update values","func":"flow.set('numericValue2', msg.payload);\nmsg.payload = {\n    value2: flow.get('numericValue2')\n};\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":2700,"wires":[["07209e4ad19f366c"]]},{"id":"ecaefaf2f92f98aa","type":"function","z":"adc9d91a7c732d2e","name":"Update values","func":"flow.set('numericValue1', msg.payload);\nmsg.payload = {\n    value1: flow.get('numericValue1')\n};\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":2500,"wires":[["17c0a422c2f3ae60"]]},{"id":"07209e4ad19f366c","type":"ui_text","z":"adc9d91a7c732d2e","group":"6f0e0a85cbdebd3a","order":2,"width":0,"height":0,"name":"","label":"Current P. max","format":"{{msg.payload.value2}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1800,"y":2680,"wires":[]},{"id":"17c0a422c2f3ae60","type":"ui_text","z":"adc9d91a7c732d2e","group":"6f0e0a85cbdebd3a","order":3,"width":0,"height":0,"name":"","label":"Current P. min","format":"{{msg.payload.value1}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1800,"y":2500,"wires":[]},{"id":"ea575f3638db2bf4","type":"function","z":"adc9d91a7c732d2e","name":"Set ranges","func":"msg = {\n    ui_control:{\n        min: msg.payload.value1,\n        max: msg.payload.value2\n  }\n    \n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2160,"wires":[["8586f85119fe0b61"]]},{"id":"8586f85119fe0b61","type":"ui_gauge","z":"adc9d91a7c732d2e","name":"","group":"6f0e0a85cbdebd3a","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Pressure [hPa]","label":"[hPa]","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1200,"y":2160,"wires":[]},{"id":"c298e9be9833cf9a","type":"ui_text","z":"adc9d91a7c732d2e","group":"6f0e0a85cbdebd3a","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.error}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"22","color":"#ff0000","x":1040,"y":2560,"wires":[]},{"id":"c3d7c3f954dc12f2","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/pressure","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":540,"y":2300,"wires":[["8586f85119fe0b61"]]},{"id":"87ad4437326f61b7","type":"inject","z":"adc9d91a7c732d2e","name":"Update pres every 5 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":500,"y":1980,"wires":[["ab73bd9733c2fa88"]]},{"id":"ab73bd9733c2fa88","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/pressure","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":870,"y":1980,"wires":[]},{"id":"bef223753eaa3cd9","type":"inject","z":"adc9d91a7c732d2e","name":"Update pres chart every hour","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":510,"y":2060,"wires":[["539656712f36a983"]]},{"id":"539656712f36a983","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/pressuresLast72","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":920,"y":2060,"wires":[]},{"id":"8c56a4f1ae5aee62","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/pressuresLast72","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":540,"y":2380,"wires":[["a1fe7034a16e1276"]]},{"id":"a1fe7034a16e1276","type":"function","z":"adc9d91a7c732d2e","name":"Data for chart","func":"var input = msg.payload.data;\n\nvar chartData = [];\n\nfor (var i = 0; i < input.length; i++) {\n    var point = {\n        x: i, \n        y: input[i].pressure\n    };\n    chartData.push(point);\n}\n\nmsg.payload = [{\n    \"series\": [\"Pressure\"],\n    \"data\": [chartData]\n}];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":2380,"wires":[["12f8e78a0ec6abb4"]]},{"id":"c5921e4a0ad86cb8","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/pressureLB","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":2480,"wires":[["9401201ebe80ed82","ecaefaf2f92f98aa"]]},{"id":"2bde41fb6fd7a985","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/pressureUB","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":2660,"wires":[["c4e15ea7321d1a35","824813e2ef3a393f"]]},{"id":"ede89b90fcafa62d","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1960,"y":2280,"wires":[]},{"id":"1449fde435e9df4a","type":"function","z":"adc9d91a7c732d2e","name":"Set new PLB","func":"var message = {\n    topic: \"WEATHERSTATION/167795/set/pressureLB\", // Temat dla pierwszego MQTT Out\n    payload: flow.get('numericValue1'),\n};\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2280,"wires":[["ede89b90fcafa62d"]]},{"id":"9f9a41ac58993d83","type":"function","z":"adc9d91a7c732d2e","name":"Set new PUB","func":"var message = {\n    topic: \"WEATHERSTATION/167795/set/pressureUB\", // Temat dla pierwszego MQTT Out\n    payload: flow.get('numericValue2'),\n};\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2360,"wires":[["922302731a2a9a42"]]},{"id":"922302731a2a9a42","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1960,"y":2360,"wires":[]},{"id":"adcb3ea271b49ae4","type":"inject","z":"adc9d91a7c732d2e","name":"Update PLB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":1300,"y":1980,"wires":[["418b4bbd182ef7b5"]]},{"id":"418b4bbd182ef7b5","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/pressureLB","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1730,"y":1980,"wires":[]},{"id":"57e1b09131c2aa7b","type":"inject","z":"adc9d91a7c732d2e","name":"Update PUB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"$round($random()*100%40,2)\t","payloadType":"jsonata","x":1300,"y":2060,"wires":[["37b6ac309764e9d0"]]},{"id":"37b6ac309764e9d0","type":"mqtt out","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/get/pressureUB","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c377635adb7366c","x":1750,"y":2060,"wires":[]},{"id":"d0c094b7ef5a8cab","type":"debug","z":"adc9d91a7c732d2e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":1280,"wires":[]},{"id":"b50f90a26a67b091","type":"mqtt in","z":"adc9d91a7c732d2e","name":"","topic":"WEATHERSTATION/167795/humidity","qos":"0","datatype":"auto-detect","broker":"9c377635adb7366c","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":1340,"wires":[["ba67a7adb39b748f","d0c094b7ef5a8cab"]]},{"id":"65123476f110f7c7","type":"ui_group","name":"Temperature","tab":"fe03d4f1ba11f5c6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c377635adb7366c","type":"mqtt-broker","name":"","broker":"mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f1eb08f1e27448ff","type":"ui_group","name":"Humidity","tab":"3ee044d9f25606f7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f0e0a85cbdebd3a","type":"ui_group","name":"Pressure","tab":"869492ea5e7d61e2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fe03d4f1ba11f5c6","type":"ui_tab","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ee044d9f25606f7","type":"ui_tab","name":"Humidity","icon":"dashboard","disabled":false,"hidden":false},{"id":"869492ea5e7d61e2","type":"ui_tab","name":"Pressure","icon":"dashboard","disabled":false,"hidden":false}]